_documentation/* linguist-vendored
admin.scops/css/* linguist-vendored
admin.scops/fonts/* linguist-vendored
admin.scops/img/* linguist-vendored
admin.scops/libs/* linguist-vendored
admin.scops/js/* linguist-vendored
m.scops/css/* linguist-vendored
m.scops/fonts/* linguist-vendored
m.scops/img/* linguist-vendored
m.scops/js/* linguist-vendored
chat.scops/css/* linguist-vendored
chat.scops/fonts/* linguist-vendored
chat.scops/img/* linguist-vendored
chat.scops/libs/* linguist-vendored
chat.scops/js/* linguist-vendored
web.scops/img/* linguist-vendored
web.scops/themes/* linguist-vendored
web.scops/tpl_app/* linguist-vendored
web.scops/tpl_app_chat/* linguist-vendored
web.scops/libs/* linguist-vendored
web.scops/langs/* linguist-vendored
web.scops/js/* linguist-vendored
